.app {
  margin: 5% auto;
  padding: 20px 15px;
  background-color: rgb(225, 247, 250);
  font-family: "Original Surfer", cursive;
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(116, 114, 114);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.app h1 {
  font-size: 2.5rem;
}

.stopwatch {
  width: 300px;
  height: 90px;
  margin: 10px auto;
  background-color: rgb(252, 253, 253);
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(116, 114, 114);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 3.8rem;
}

.Start {
  background-color: rgb(58, 138, 58);
  color: white;
}
.Start:hover {
  background-color: rgb(41, 105, 41);
}

.Stop {
  background-color: rgb(158, 20, 20);
  color: white;
}
.Stop:hover {
  background-color: rgb(133, 7, 7);
}

.Drop {
  background-color: rgb(235, 232, 97);
  color: black;
}
.Drop:hover {
  background-color: rgb(240, 216, 3);
}
